In [13]:
a=["nike", "puma", "adidas", "new balance"]
#print(a[0])
#print(a[1])
#print(a[3])
print(a[-2])

adidas

In [19]:
edades= [20, 41, 6, 18, 23]

for edad in edades:
  print(edad)

print("___________________")

for i in range(len(edades)):
  print(edades[i])

20
41
6
18
23
___________________
20
41
6
18
23

In [22]:
mylist = ["adidas", "futbol", "skate"]
print (mylist)

for item in mylist:
  print(item)

['adidas', 'futbol', 'skate']
adidas
futbol
skate

In [46]:
lista=[1,"alan", 2]

listin=list([24, 2, "adidas"])

print(lista)

print(listin)

for item in lista:
  print(item)

for item in listin:
  print(item)

TypeError: 'list' object is not callable

In [47]:
edades =[20, 41, 6, 18, 23]
edades.append(10)
indice = 0

edades= edades + [16,21,11]
while indice < len(edades):
  print(edades[indice])
  indice += 1

20
41
6
18
23
10
16
21
11